* {
    box-sizing: border-box;
}

.container {
    border: 5px solid lime;
    margin: 0 auto;
    width: 600px;
    height: 700px;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

.main1 {
    border: 5px solid red;  
    width: 125px;
    height: 400px;
    margin-bottom: 5%;
}

.main2 {
    border: 5px solid red;  
    width: 150px;
    height: 300px;
    margin-bottom: 5%;
}

.main3 {
    border: 5px solid red;  
    width: 125px;
    height: 200px;
    margin-bottom: 5%;
}