h1 {
    background: whitesmoke;
    padding: 12px 200px;
    border: 5px double red;
    margin-right: 350px;
    font-style: italic;
    margin-left: 350px;
    text-align: center;
}
h2 {
    background: DarkSeaGreen;
    padding: 10px 200px;
    border: 3px dashed orange;
    margin-right: 358px;
    margin-left: 373px;
    text-align: center;
}
.el1 {
    border: 3px solid green;
    margin-right: 10px;
    margin-left: 370px;
    background: green
}
.el2 {
    border: 3px solid green;
    background: green;
    margin-right: 10px;
    background: green
}
.el3 {
    border: 3px solid green;
    background: green;
}
.el4 {
    background: white;
    border: 3px solid pink;
    text-align: center;
    margin-left: 370px;
    font-style: italic;
    padding: 5px;
    margin-right: 8px;
}
.el5 {
    background: white;
    border: 3px solid pink;
    font-style: italic;
    text-align: center;
    padding: 5px;
    margin-right: 8px;
}
.el6 {
    background: white;
    border: 3px solid pink;
    font-style: italic;
    text-align: center;
    padding: 5px;
}
