table {
   border-collapse: separate;
   border-spacing: 20px;
   margin: 0 auto;
}
td {
    text-align: center;
}
td img:hover {
    outline: 5px solid green;
    display: block;
}
img {
    width: 300px;
}
.zagolovok {
    background-color: LightSeaGreen;
    padding: 25px;
    margin: -20px -20px 10px;
    border: 4px double SandyBrown;
    text-align: center;
    font-size: 22pt;
    font-style: italic;
    font-weight: bold;
}
.names {
    background-color: slategray;
    border: 2px solid black;
    padding: 10px;
    font-style: italic;
    color: whitesmoke;
}
.podzagolovok {
    border: 2px dashed CadetBlue;
    padding: 10px;
    background-color: LightCyan;
    font-size: 15pt;
}
